.header{
    color:azure;
    background: linear-gradient(135deg, #193059, #193059, #4d516e, #3a4d69);
    border-radius: -10px;
    font-size: 12px;
    margin-top: -0.5%;
    padding-bottom: -4%;
}

.mat-card-content{
color: azure;
}