<mat-card appearance="outlined" class="header" style="height: 70px;">
    <mat-card-content style="margin-top: -20px;">
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 0px;">
            <!-- Menú alineado a la derecha -->
            <div>
                <div>
                    <app-menu style="padding-right: 0px;"></app-menu>
                    <img [src]="userImageUrl" alt="User" width="70" height="70"
                    style="vertical-align: middle; margin-right: 8px; padding: 10px; margin-top: -15px; border-radius: 50%;">
                </div>
            </div>
           <!-- <div style="display: flex; color: #2A313C; align-items: center; margin-left: -8%;font-size: 28px; font-family: 'Nunito', monospace;">
                Consumo REQUEST API Food
            </div> -->
             <!-- Imagen y texto alineados a la izquierda 
             <div style="display: flex; align-items: center; padding: 7px;">
                <img src="/assets/imagenApoyo.png" height="60" style="vertical-align: middle;"> 
            </div>-->

        </div>
    </mat-card-content>
</mat-card>