<mat-card appearance="outlined" class="header">
    <mat-card-content>
        <div style="display: flex; justify-content: space-between; align-items: center; padding: 8px;">
    <!-- Imagen y texto alineados a la izquierda -->
    <div style="display: flex; align-items: center;">
        <a href="https://github.com/AlexCL0320" target="_blank" style="text-decoration: none; color: inherit; display: flex; align-items: center;">
            <img src="/assets/head.png" alt="GitHub Logo" height="60" style="vertical-align: middle; margin-right: 8px;">
            {{userName}}
        </a>
    </div>

    <!-- Menú alineado a la derecha -->
    <div>
        <div>
            <img [src]="userImageUrl" alt="User" width="55" height="55" style="vertical-align: middle; margin-right: 8px; border-radius: 50%;">
            <app-menu></app-menu>
        </div>
    </div>
</div>
    </mat-card-content>
</mat-card>