  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="margin-top: 12px;">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="home()">
      <mat-icon>home</mat-icon> <!-- Cambiado a "home" -->
      <span>Inicio</span>
    </button>
    <button mat-menu-item (click)="usuarios()">
      <mat-icon>supervisor_account</mat-icon> <!-- Cambiado a "mail" -->
      <span>Usuarios</span>
    </button>
    <button mat-menu-item (click)="comidas()">
      <mat-icon>store_mall_directory</mat-icon> <!-- Cambiado a "mail" -->
      <span>Comidas</span>
    </button>
    <button mat-menu-item (click)="login()"> 
      <mat-icon>exit_to_app</mat-icon> <!-- Cambiado a "notifications" -->
      <span>Salir</span>
    </button>
  </mat-menu>