/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*background: linear-gradient(135deg, #1b3b3a, #2d4f4b, #3c7a68, #a7d3a6);*/
    
    /*background: linear-gradient(135deg, #0e0e0e, #1b333b,  #022249);*/
}


html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

::ng-deep .mat-form-field {
    background-color: #95a1ab; /* Color de fondo personalizado */
    border-radius: 8px;       /* Bordes redondeados */
}

::ng-deep .mat-form-field-wrapper {
    padding: 8px; /* Espaciado interno */
    background-color: #95a1ab; /* Heredar el color del mat-form-field */
}