
table mat-row:nth-child(even) {
    background-color: #c9c9c9; /* Color para las filas pares */
  }
  
  table mat-row:nth-child(odd) {
    background-color: #ffffff; /* Color para las filas impares */
  }
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #c9c9c9;
    border-bottom: 1px solid black; /* Define el grosor y color de la tabla */
    color: black;
}

th {

    color: #c9c9c9;
    font-family: Cascadia Code;
    font-size: 17px;
    padding: 8px;
    /*border-right: 1px solid #212830;*/
    text-align: left;
    /*border: 1px solid black; /* Aplica un borde consistente a celdas */
    border-radius: 1px;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black; /* Aplica un borde consistente a celdas */
    font-family: Cascadia Code;
    font-size: 15px;
}

.btn{
  height: 30px;
  width: 100px;
  border-radius: 8px;
  background-color: black;
  color: aliceblue;
  font-family: Cascadia Code;
}

::ng-deep .filter-input .mat-form-field-flex {
  background-color: white; /* Color de relleno blanco */
  border-radius: 4px;      /* Opcional: bordes redondeados */
}

.content{
  margin-left: 3%; 
  background: linear-gradient(135deg, #021a22, #292e3b,#292e3b, #1b333b);
  color: mintcream;
  border-radius: 10px; 
  padding-top: 3%;
  padding-left: 5%;
  margin-bottom: 5%; 
  margin-right: 2%; 
  margin-top: 2%; 
  justify-content: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border: black;
  min-height: calc(100vh - 50px); /* Ajusta 50px al tamaño del footer */
  padding-bottom: 50px; /* Evita que el contenido sobrepase el footer */

}

.btn-ver {
  background-color: #2A313C;
  color: white;
  font-style: normal;
  width: 80%;
  height: 35px;
  border-radius: 13px;
}

.btn-eliminar {
  background-color: red;
  color: white;
  font-style: normal;
  width: 80%;
  height: 35px;
  border-radius: 13px;
}
