table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border: black;
    color: black;
    
} 
th{
    padding: 8px;
    text-align: left;
    border-color: black;
    color: black;
}

td {
    padding: 8px;
    text-align: left;
    border-color: black;
    color: black;
}
th {
    background-color: #f2f2f2;
    border-color: black;
    color: black;
}
  